[Unit]
Description=TURZX native Linux monitor
After=graphical-session.target

[Service]
Type=simple
ExecStart="/home/potato/.local/bin/turzx-native-monitor" "--interval" "1" "--brightness" "90" "--device" "AUTO"
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
