(
    max_notifications: 0,
    timeout: 5000,
    poll_interval: 16,
    replacing_resets_timeout: true,
    history_length: 20,
    //print_to_file: "/tmp/wired.log",
    // min_window_width: 1,
    // min_window_height: 1,

    debug: false,
    debug_color: Color(r: 0.0, g: 1.0, b: 0.0, a: 1.0),
    debug_color_alt: Color(r: 1.0, g: 0.0, b: 0.0, a: 1.0),

    layout_blocks: [
    (
        name: "root",
        parent: "",
        hook: Hook(parent_anchor: TR, self_anchor: TR),
        offset: Vec2(x: -5.0, y: 5.0),
        params: NotificationBlock((
                monitor: 0,
                border_width: 0.0,
                border_rounding: 3.0,
                background_color: Color(hex: "#000000"),
                border_color: Color(hex: "#000000"),
                gap: Vec2(x: 0.0, y: 6.0),
                notification_hook: Hook(parent_anchor: BR, self_anchor: TR),
        )),
    ),
    (
        name: "image",
        parent: "root",
        hook: Hook(parent_anchor: TL, self_anchor: TR),
        offset: Vec2(x: 0.0, y: 0.0),
        params: ImageBlock((
                image_type: Hint,
                padding: Padding(left: 6.0, right: 6.0, top: 6.0, bottom: 6.0),
                rounding: 2.0,
                scale_width: 40,
                scale_height: 40,
                filter_mode: Lanczos3,
        )),
    ),
    (
        name: "summary",
        parent: "image",
        hook: Hook(parent_anchor: TL, self_anchor: TR),
        offset: Vec2(x: 0.0, y: 0.0),
        params: TextBlock((
                text: "%s",
                font: "Cozette Bold 10",
                ellipsize: End,
                color: Color(hex: "#FEFFFF"),
                color_hovered: Color(hex: "#FEFFFF"),
                padding: Padding(left: 6.0, right: 6.0, top: 6.0, bottom: 6.0),
                dimensions: (width: (min: 0, max: 300), height: (min: 0, max: 0)),
        )),
    ),
    (
        name: "image_app",
        parent: "summary",
        hook: Hook(parent_anchor: TL, self_anchor: TR),
        offset: Vec2(x: 0.0, y: 2.0),
        params: ImageBlock((
                image_type: Hint,
                padding: Padding(left: 6.0, right: 6.0, top: 6.0, bottom: 6.0),
                rounding: 0.0,
                scale_width: 10,
                scale_height: 10,
                filter_mode: Lanczos3,
        )),
    ),
    (
        name: "body",
        parent: "summary",
        hook: Hook(parent_anchor: BR, self_anchor: TR),
        offset: Vec2(x: 0.0, y: 0.0),
        params: ScrollingTextBlock((
                text: "%b",
                font: "Cozette 10",
                color: Color(hex: "#FEFFFF"),
                color_hovered: Color(hex: "#FEFFFF"),
                padding: Padding(left: 6.0, right: 6.0, top: 6.0, bottom: 6.0),
                width: (min: 0, max: 300),
                scroll_speed: 0.2,
                lhs_dist: 35.0,
                rhs_dist: 35.0,
                scroll_t: 1.0,
        )),
    ),
    ],


    shortcuts: ShortcutsConfig (
        notification_interact: 1,
        notification_close: 2,
        // notification_closeall: 99,
        // notification_pause: 99,

        notification_action1: 3,
        // notification_action2: 99,
        // notification_action3: 99,
        // notification_action4: 99,
    ),
    )
