[Desktop Entry]
Name=Aseprite Fast
Comment=Play this game on Steam
Exec=/home/potato/.local/share/Steam/steamapps/common/Aseprite/aseprite
Icon=steam_icon_431730
Terminal=false
Type=Application
Categories=Game;
