[Desktop Entry]
Name=Catan Universe
Comment=Play this game on Steam
Exec=steam steam://rungameid/544730
Icon=steam_icon_544730
Terminal=false
Type=Application
Categories=Game;
