[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
NoDisplay=true
Exec=term -e nvim %f
Name=Nvim XDG
Icon=nvim
Comment=Nvim XDG Opener to force apps that don't implement XDG properly
