[Desktop Entry]
Type=Application
Categories=Utility;TextEditor;
Exec=term launch -e nvim %F
Name=Nvim
Icon=nvim
Comment=Nvim for non interactive shells
