[Desktop Entry]
Name=Tricky Towers
Comment=Play this game on Steam
Exec=steam steam://rungameid/437920
Icon=steam_icon_437920
Terminal=false
Type=Application
Categories=Game;
